<ul class="collection with-header">
  <li class="collection-header"><h4>Top Artists for <%= format_month_year @month %></h4></li>
  <% sort_top_artists!(@top_artists).each do |top_artist| %>
  <!-- TODO move this to controller or something -->
    <% next if top_artist.play_count < 5 %>
    <li class="collection-item avatar top-artist">
      <img src="<%= top_artist.artist.image %>" alt="<%= top_artist.artist.name %>'s picture'" class="circle">
      <span class="title"> <%= top_artist.artist.name %> </span>
      <p class="play-count"> Plays this month: <%= top_artist.play_count %> </p>
      <a href="#!" class="secondary-content"><i class="material-icons">stars</i></a>
    </li>
  <% end %>
</ul>
